@import "tailwindcss";

@theme {
  /* Remove breakpoints */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: initial;

  --font-display: "Quicksand Variable", "sans-serif";
  --font-sans: "Barlow", "sans-serif";

  --color-*: initial;

  --color-white: #fff;

  --color-grey-600: oklch(0.46 0.03 264);
  --color-grey-800: oklch(0.36 0.03 264);

  --color-forest-200: oklch(0.82 0.15 131);
  --color-forest-400: oklch(0.62 0.16 142);
  --color-forest-500: oklch(0.53 0.135 142);
  --color-forest-600: oklch(0.41 0.11 142);

  --color-nutty-500: oklch(0.68 0.18 45);

  --color-yellow-100: oklch(0.96 0.05 96);
  --color-yellow-400: oklch(0.82 0.15 65);
  --color-yellow-500: oklch(0.76 0.16 65);

  --color-blu-100: oklch(0.96 0.04 204);
  --color-blu-500: oklch(0.58 0.12 240);

  /* New */

  --color-gold-50: #fffdf8;
  --color-gold-100: #ffefcc;
  --color-gold-200: #ffd687;

  --color-blu-50: #e2f7ff;

  --color-grey-warm-700: #766446;
  --color-grey-warm-950: #231e17;

  --color-nut-600: #dc6017;
}

::selection {
  background-color: var(--color-blu-100);
  color: var(--color-blu-500);
}

html {
  font-family: var(--font-sans);
  font-weight: 500;
}

.container {
  @apply px-4 sm:px-8;
}

h1,
h2 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-bold);
}

em {
  @apply font-semibold not-italic;
}

@keyframes pop-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-pop-up {
  animation: pop-up 0.8s ease-out 1 forwards;
  animation-delay: 0.5s;
}

.popup-initial-hidden {
  transform: translateY(100%);
}
