@import "tailwindcss";

@theme {
  /* Remove breakpoints */
  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;

  --font-display: "Quicksand Variable", "sans-serif";
  --font-sans: "Barlow", "sans-serif";

  /* --color-*: initial; */

  --color-white: #fff;

  --color-grey-800: oklch(0.36 0.03 264);

  --color-forest-400: oklch(0.62 0.16 142);
  --color-forest-500: oklch(0.53 0.12 142);
  --color-forest-600: oklch(0.41 0.11 142);

  --color-nutty-500: oklch(0.68 0.18 45);

  --color-yellow-100: oklch(0.96 0.05 65);
  --color-yellow-400: oklch(0.82 0.15 65);
  --color-yellow-500: oklch(0.76 0.16 65);

  --color-blu-100: oklch(0.96 0.04 204);
  --color-blu-500: oklch(0.58 0.12 240);
}

html {
  font-family: var(--font-sans);
}

.container {
  @apply px-4 sm:px-8;
}

h1,
h2 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-bold);
}

em {
  @apply font-semibold not-italic;
}

@keyframes diagonal-scroll-br {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 128px 128px;
  }
}

@keyframes pop-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-pop-up {
  animation: pop-up 0.35s ease-out 1 forwards;
  animation-delay: 0.75s;
}

.animate-diagonal-scroll-br {
  animation: diagonal-scroll-br 15s linear infinite;
}

@keyframes phone-float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-8px) rotate(2deg);
  }
}

.animate-phone-float {
  animation: phone-float 6s ease-in-out infinite;
}

.shadow-stacked {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 8px 16px rgba(0, 0, 0, 0.2),
    0 16px 24px rgba(0, 0, 0, 0.1);
}
.filter-drop-shadow-solid-offset {
  filter: drop-shadow(5px 7px 0px var(--color-orange-200));
}

.popup-initial-hidden {
  transform: translateY(100%);
}
