---
import AppStoreBadges from "../components/AppStoreBadges.astro";
import Footer from "../components/Footer.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rule: Turn your money into a game">
  <Logo />

  <h1>Meet your new budgeting best friend.</h1>
  <p>
    Turn your money into a game, <wbr />
    with a pet squirrel by your side.
  </p>

  <AppStoreBadges />

  <Footer />
</Layout>
