---
import ButtonLink from "../components/ButtonLink.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <div class="pt-8 container mx-auto bg-white rounded-t-2xl">
    <Header />
  </div>

  <div class="py-8 container mx-auto bg-white">
    <div class="relative z-10 text-center max-w-lg mx-auto">
      <h1 class="text-2xl sm:text-4xl text-pretty text-grey-800">
        A savings app that's actually fun (and ADHD-friendly)
      </h1>
      <h3 class="mt-4 text-lg sm:text-xl text-balance text-grey-800">
        Stop impulse spending. Ditch boring budgets. Make money click.
      </h3>
      <div class="w-auto h-48 sm:h-64 relative z-0 flex justify-around">
        <img
          src="images/nutty-hero.png"
          alt="Cartoon squirrel wearing a crown and standing on top of a pile of nuts."
        />
      </div>
      <ButtonLink href="#waitlist-modal" class="mt-4 sm:mt-8">
        Join Discord for early access
      </ButtonLink>
    </div>
  </div>

  <div class="py-8 container mx-auto bg-rellow-100">
    <h2
      class="text-2xl text-balance text-center bg-rellow-100 max-w-lg mx-auto"
    >
      Turn Money Management into a Game, with a Squirrel by your Side.
    </h2>
  </div>
</Layout>
