---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
  <div class="pt-8 container mx-auto bg-white rounded-t-2xl">
    <Header />
  </div>

  <div class="py-8 container mx-auto bg-white">
    <HeroSection />
  </div>

  <div class="py-8 container mx-auto bg-rellow-100">
    <h2
      class="text-2xl text-balance text-center bg-rellow-100 max-w-lg mx-auto text-grey-800"
    >
      Turn Money Management into a Game, with a Squirrel by your Side.
    </h2>
  </div>
</Layout>
