---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import StepsSection from "../components/StepsSection.astro";
import ADHDTraitsSection from "../components/ADHDTraitsSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import BottomCTASection from "../components/BottomCTASection.astro";
---

<Layout>
  <div class="container mx-auto rounded-t-2xl bg-white pt-8">
    <Header />
  </div>

  <div class="container mx-auto bg-white py-8">
    <HeroSection />
  </div>

  <div class="container mx-auto bg-yellow-100 py-8">
    <h2
      class="text-grey-800 mx-auto max-w-lg text-center text-2xl text-balance"
    >
      Turn Money Management into a Game, with a Squirrel by your Side.
    </h2>
  </div>

  <div class="container mx-auto bg-white py-8 sm:py-16">
    <StepsSection />
  </div>

  <div class="container mx-auto bg-yellow-100 py-8">
    <div class="text-grey-800 mx-auto max-w-lg text-center">
      <h2 class="text-2xl text-balance">Rule is ADHD-friendly</h2>
      <h3 class="mt-4 text-lg text-balance sm:text-xl">
        Whether you're diagnosed, self-identified, waiting for assessment, or
        just relate to some ADHD features&mdash;Rule makes money feel natural
        and fun.
      </h3>
    </div>

    <div class="mt-8 flex flex-col gap-8">
      <ADHDTraitsSection />
      <TestimonialsSection />
    </div>
  </div>

  <div class="container mx-auto overflow-hidden bg-white">
    <BottomCTASection />
  </div>

  <div
    class="bg-forest-400 container mx-auto flex items-center justify-between py-4 sm:py-8"
  >
    <p class="text-xl text-white">Footer</p>
    <p class="text-xl text-white">Footer</p>
  </div>

  <div
    class="bg-forest-600 container mx-auto flex items-center justify-between rounded-b-2xl py-2 sm:py-4"
  >
    <p class="text-xl text-white">Footer</p>
    <p class="text-xl text-white">Footer</p>
  </div>
</Layout>
