---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
  <div class="container mx-auto rounded-t-2xl bg-white pt-8">
    <Header />
  </div>

  <div class="container mx-auto bg-white py-8">
    <HeroSection />
  </div>

  <div class="bg-rellow-100 container mx-auto py-8">
    <h2
      class="bg-rellow-100 text-grey-800 mx-auto max-w-lg text-center text-2xl text-balance"
    >
      Turn Money Management into a Game, with a Squirrel by your Side.
    </h2>
  </div>
</Layout>
