---
import Layout from "../layouts/Layout.astro";
import Sky from "../components/Sky.astro";
import HeroSection from "../components/HeroSection.astro";
import NuttyScene from "../components/NuttyScene.astro";
import StepsSection from "../components/StepsSection.astro";
import ADHDTraitsSection from "../components/ADHDTraitsSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import BottomCTASection from "../components/BottomCTASection.astro";
import FooterSection from "../components/FooterSection.astro";
import BottomCTALeaves from "../components/BottomCTALeaves.astro";

const year = new Date().getFullYear();
---

<script src="../scripts/easterEggs.js"></script>

<Layout title="Rule: The ADHD Savings App That's Actually Fun">
  <div class="border-forest-400 mx-auto rounded-3xl p-0 sm:border-8">
    <div
      class="relative container mx-auto overflow-hidden rounded-t-2xl bg-white pt-4 sm:pt-8"
    >
      <div class="absolute inset-0 z-0 flex">
        <Sky />
      </div>
      <div class="relative z-10">
        <HeroSection />
      </div>
    </div>

    <div class="bg-white">
      <NuttyScene />
    </div>

    <div class="relative z-10 container mx-auto bg-forest-500 py-8">
      <h2
        class="text-white mx-auto max-w-lg text-center text-2xl text-pretty md:text-3xl"
      >
        Turn Money Management into a Game, with a Squirrel by your Side.
      </h2>
    </div>

    <div class="container mx-auto bg-white py-8 sm:py-16">
      <StepsSection />
    </div>

    <div class="container mx-auto bg-yellow-100 py-12">
      <div class="text-grey-800 mx-auto text-center">
        <h2 class="text-2xl text-balance">Rule is ADHD-friendly</h2>
        <h3 class="mt-4 text-lg text-balance sm:text-xl">
          Whether you're diagnosed, self-identified, waiting for assessment, or
          just relate to some ADHD features &mdash; Rule makes money feel natural
          and fun.
        </h3>
      </div>

      <div class="mt-12 flex flex-col gap-16">
        <ADHDTraitsSection />
        <TestimonialsSection />
      </div>
    </div>

    <div class="relative">
      <BottomCTALeaves />
      <div class="container mx-auto overflow-hidden bg-white">
        <BottomCTASection />
      </div>
    </div>

    <div class="bg-forest-400 container mx-auto py-8">
      <FooterSection />
    </div>

    <div class="bg-forest-600 container mx-auto rounded-b-2xl py-2 sm:py-4">
      <div class="flex items-center justify-between">
        <p class="text-sm text-white">&copy; Rule Finance Ltd {year}</p>
        <img
          id="acorn-sticker-trigger"
          src="images/acorn-sticker.png"
          alt="Acorn sticker"
          class="h-8 cursor-pointer"
        />
      </div>
    </div>
  </div>
</Layout>
