---
import AppStoreBadges from "../components/AppStoreBadges.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Logo from "../components/Logo.astro";
import Scene from "../components/Scene.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rule: Turn your money into a game">
  <div class="relative z-0">
    <div class="relative z-40">
      <Logo />
    </div>

    <div class="relative z-40">
      <Hero />
    </div>

    <div class="relative z-40 mt-2">
      <AppStoreBadges />
    </div>

    <Scene />
  </div>

  <Footer />
</Layout>
