<div
  class="grid grid-cols-1 gap-4 *:rounded-xl *:bg-white *:p-4 *:py-8 md:grid-cols-2"
>
  <div>Money avoiders</div>
  <div>Impulse shoppers</div>
  <div>Living paycheque to paycheque</div>
  <div>Budget haters</div>
</div>
