<div
  class="container mx-auto flex flex-col items-center justify-center gap-x-6 gap-y-4 sm:flex-row"
>
  <a href="https://play.google.com/store/apps/details?id=app.getrule.rulemoney">
    <img
      src="/images/badge-playstore.png"
      class="w-[200px] sm:h-[60px] sm:w-auto md:h-[80px]"
    />
  </a>

  <a href="https://testflight.apple.com/join/fxx2XYag">
    <img
      src="/images/badge-testflight.png"
      class="w-[200px] sm:h-[60px] sm:w-auto md:h-[80px]"
    />
  </a>
</div>
