---
import CTAButton from "./CTAButton.astro";
import DiscordWidget from "./DiscordWidget.astro";
---

<div class="relative z-10 mx-auto max-w-lg pt-16 pb-32 sm:pt-24 sm:pb-48">
  <div class="mx-auto max-w-md text-center">
    <h2 class="text-grey-800 titlecase text-2xl text-balance sm:text-4xl">
      Say goodbye to money anxiety, and hello to your new budgeting buddy!
    </h2>
    <h3 class="text-grey-800 mt-4 text-lg text-balance sm:text-xl">
      Join our Discord for Early Access and get a head start on stress-free
      budgeting.
    </h3>
    <CTAButton />
    <!-- <div class="mt-4">
      <DiscordWidget />
    </div> -->
  </div>
</div>
