<div class="flex **:size-16">
  <div class="bg-forest-400"></div>
  <div class="bg-forest-500"></div>
  <div class="bg-nutty-500"></div>
  <div class="bg-yellow-100"></div>
  <div class="bg-yellow-400"></div>
  <div class="bg-yellow-500"></div>
</div>
