---
import ButtonLink from "./ButtonLink.astro";
import Icon from "./Icon.astro";
---

<ButtonLink
  href="#waitlist-modal"
  class="mx-auto mt-6 inline-flex items-center justify-center gap-2 text-center"
>
  <Icon icon="discord" />
  Join Discord <span class="hidden sm:inline">for early access</span>
</ButtonLink>
<div class="text-grey-800 mt-1 block text-sm sm:hidden">for early access</div>
