---
import ButtonLink from "./ButtonLink.astro";
import Icon from "./Icon.astro";
---

<ButtonLink
  href="#waitlist-modal"
  class="mx-auto mt-6 inline-flex items-center justify-center gap-2 text-center"
>
  <Icon icon="discord" />
  <div class="truncate whitespace-nowrap">Join Discord for early access</div>
</ButtonLink>
