---
import { cn } from "../utils/cn";

const {
  href = "#",
  text,
  subtext,
  disabled = false,
  class: className,
} = Astro.props;
---

<li>
  <a
    href={href}
    class={cn(
      "text-lg text-white font-medium",
      !disabled
        ? "hover:text-white hover:underline"
        : "opacity-75 pointer-events-none",
      className,
    )}
  >
    {text}
    {subtext && <span class="block text-sm/2">{subtext}</span>}
  </a>
</li>
