---
import ButtonLink from "./ButtonLink.astro";
---

<div class="flex items-center justify-between py-4">
  <img src="images/logo.png" alt="Rule logo" class="h-8" />
  <ButtonLink>Join</ButtonLink>
</div>
