---
import ButtonLink from "./ButtonLink.astro";
---

<div class="flex flex-wrap gap-4 items-center justify-between">
  <img
    src="images/logo-icon.png"
    alt="Rule logo"
    class="h-10 sm:h-12 mx-auto sm:mx-0"
  />
  <ButtonLink href="#waitlist-modal" class="hidden sm:inline-block">
    Join Discord
  </ButtonLink>
</div>
