---
import ButtonLink from "./ButtonLink.astro";
import Icon from "./Icon.astro";
---

<div class="flex flex-wrap items-center justify-between gap-4">
  <img src="images/logo-icon.png" alt="Rule logo" class="h-10 sm:h-12" />
  <ButtonLink
    href="#waitlist-modal"
    class="inline-flex items-center justify-center gap-2 sm:hidden"
  >
    <Icon icon="discord" /> Join
  </ButtonLink>
</div>
