---
import CTAButton from "./CTAButton.astro";
import DiscordWidget from "./DiscordWidget.astro";
---

<div class="flex flex-col gap-8 pb-8">
  <div class="flex flex-wrap items-center justify-between gap-4">
    <img src="images/logo-icon.png" alt="Rule logo" class="h-10 sm:h-12" />
  </div>

  <div class="mx-auto text-center">
    <h1
      class="text-grey-800 mx-auto max-w-md text-3xl text-balance sm:text-4xl md:text-pretty lg:max-w-[800px] lg:text-5xl/16"
    >
      A savings app that's actually fun (and ADHD-friendly)
    </h1>
    <h3
      class="text-grey-800 mx-auto mt-4 max-w-md text-xl text-balance sm:text-2xl lg:text-3xl/9"
    >
      Stop impulse spending. Ditch boring budgets. Make money click.
    </h3>

    <CTAButton />
    <!-- <div class="mt-4">
      <DiscordWidget />
    </div> -->
  </div>
</div>
