---
import CTAButton from "./CTAButton.astro";
import DiscordWidget from "./DiscordWidget.astro";
---

<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center justify-between gap-4">
    <img src="images/logo-icon.png" alt="Rule logo" class="h-10 md:h-12" />
  </div>

  <div class="mx-auto max-w-md text-center">
    <h1 class="text-grey-800 text-2xl text-balance sm:text-4xl">
      A savings app that's actually fun (and ADHD-friendly)
    </h1>
    <h3 class="text-grey-800 mt-4 text-lg text-balance sm:text-xl">
      Stop impulse spending. Ditch boring budgets. Make money click.
    </h3>

    <CTAButton />
    <!-- <div class="mt-4">
      <DiscordWidget />
    </div> -->
  </div>
</div>
