---
import ButtonLink from "./ButtonLink.astro";
---

<div class="mx-auto max-w-lg text-center">
  <h1 class="text-grey-800 text-2xl text-pretty sm:text-4xl">
    A savings app that's actually fun (and ADHD-friendly)
  </h1>
  <h3 class="text-grey-800 mt-4 text-lg text-balance sm:text-xl">
    Stop impulse spending. Ditch boring budgets. Make money click.
  </h3>
  <div class="h-[45vw] max-h-[300px] w-auto">
    <img
      src="images/nutty-hero.png"
      alt="Cartoon squirrel wearing a crown and standing on top of a pile of nuts."
    />
  </div>
  <ButtonLink
    href="#waitlist-modal"
    intent="cta"
    theme="forest"
    class="mt-4 sm:mt-8"
  >
    Join Discord for early access
  </ButtonLink>
</div>
