<div class="flex overflow-hidden pt-16 sm:overflow-visible">
  <div class="flex grow items-end justify-start">
    <img
      src="images/nutty-hero.svg"
      alt="Cartoon squirrel wearing a crown and holding acorns in both hands"
      class="relative bottom-[30px] -left-12 w-[290px] md:w-[400px]"
    />
  </div>
  <div class="flex grow items-end justify-end">
    <img
      src="images/phone-hero.svg"
      alt="Mobile phone showing today's budget"
      class="animate-phone-float relative w-[130px] rotate-12 md:w-[180px]"
    />
  </div>
</div>
