<!-- Fields -->
<div class="absolute right-0 bottom-[120px] left-0">
  <div class="mx-auto w-full">
    <img src="/images/scene-mobile/wheat-fields.svg" class="w-full" />
  </div>
</div>

<!-- Foliage (back) -->
<div class="absolute bottom-[120px] left-0 z-0">
  <img src="/images/scene-mobile/left-back.svg" class="w-[200px]" />
</div>
<div class="absolute right-0 bottom-[120px] z-0">
  <img src="/images/scene-mobile/right-back.svg" class="w-[200px]" />
</div>

<!-- Foliage (middle) -->
<div class="absolute bottom-[120px] left-0 z-10">
  <img src="/images/scene-mobile/left-middle.svg" class="w-[125px]" />
</div>

<!-- Ground -->
<div class="absolute right-0 bottom-0 left-0">
  <div class="h-[121px] w-full bg-green-300"></div>
</div>

<!-- Foliage (front) -->
<div class="absolute bottom-[120px] left-0 z-30">
  <img src="/images/scene-mobile/left-front.svg" class="w-[105px]" />
</div>
<div class="absolute top-0 right-0">
  <img src="/images/scene-mobile/right-front.svg" class="h-full" />
</div>

<!-- Nutty -->
<div class="relative z-40 w-full">
  <div class="mb-5 -ml-[70px] h-[270px]">
    <img src="/images/nutty-misc.svg" class="h-full" />
  </div>
</div>
