<!-- Fields -->
<div class="absolute right-0 bottom-[180px] left-0 z-0">
  <div class="container mx-auto w-full">
    <img src="/images/scene-desktop/wheat-fields.svg" class="w-full" />
  </div>
</div>

<!-- Ground -->
<div class="absolute right-0 bottom-0 left-0 z-10">
  <div class="absolute right-0 bottom-0 left-0 h-[181px] w-full bg-green-200">
  </div>
  <div class="absolute right-0 bottom-0 left-0 h-[140px] w-full bg-green-300">
  </div>
</div>

<div class="absolute right-0 bottom-0 left-0 overflow-hidden">
  <div class="relative z-10 flex flex-row justify-center pb-[70px]">
    <!-- Left -->
    <div class="shrink-0">
      <img src="/images/scene-desktop/left-middle.svg" class="w-full" />
    </div>

    <!-- Safe zone -->
    <div class="min-w-[150px] flex-1">safe area</div>

    <!-- Right -->
    <div class="shrink-0">
      <img src="/images/scene-desktop/right-front.svg" class="h-full" />
    </div>
  </div>
</div>

<!-- Nutty -->
<div class="relative z-40 container mx-auto">
  <div class="mb-10 -ml-20 h-[360px]">
    <img src="/images/nutty-misc.svg" class="h-full" />
  </div>
</div>
