<!-- Ground -->
<div class="absolute right-0 bottom-0 left-0">
  <div class="h-[80px] w-full bg-green-300"></div>
</div>

<!-- Fields -->

<!-- Trees -->
<div class="absolute inset-0"></div>

<!-- Nutty -->
<div class="relative w-full py-5">
  <div class="mx-auto max-w-sm">
    <img src="/images/nutty-misc.svg" class="" />
  </div>
</div>
