<div class="from-blu-100 relative flex-1 bg-gradient-to-b to-white">
  <img src="images/cloud-big.svg" class="absolute -top-[40px] -left-[60px]" />
  <img src="images/cloud-small.svg" class="absolute -top-[0px] -right-[0px]" />
</div>
