---
import Testimonial from "./Testimonial.astro";
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
  <Testimonial photo="images/testimonial-1.jpg" author="Sarah, 26" stars={4}>
    “I used to avoid checking my bank account because it made me feel anxious.
    Now I actually look forward to reviewing my spending and engaging with my
    squirrel. Rule is the first money app that doesn't make me feel guilty about
    my past mistakes.”
  </Testimonial>

  <Testimonial photo="images/testimonial-2.jpg" author="Jenny, 37" stars={5}>
    “Rule is a lifesaver for my ADHD brain. It helps me easily track my
    spending, identify impulse buys, and understand where my money is going. So
    powerful!”
  </Testimonial>

  <Testimonial
    photo="images/testimonial-3.jpg"
    author="Anonymous, 45"
    stars={1}
    class="md:col-span-2 lg:col-span-1"
  >
    “The squirrel is really annoying. Like...so annoying. I'm 45, I don't need
    to be patronised by a squirrel. ADHD not a joke, finance not a joke,
    squirrel not funny”
  </Testimonial>
</div>
