---
import "../styles/global.css";
import "@fontsource-variable/quicksand";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/600.css";

import ViralLoops from "../components/ViralLoops.astro";
import { cn } from "../utils/cn";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>

    <ViralLoops />
    <!-- tag manager -->
  </head>
  <body class="bg-forest-500">
    <div
      class={cn([
        "animate-diagonal-scroll-br bg-[url(/images/pattern-green.png)] bg-size-[auto_96px] bg-repeat sm:bg-size-[auto_128px]",
        "flex min-h-screen flex-col p-8",
      ])}
    >
      <slot />
    </div>
  </body>
</html>
