---
import { SEO } from "astro-seo";
import "../styles/global.css";
import "@fontsource-variable/quicksand";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/600.css";

import ViralLoops from "../components/ViralLoops.astro";
import { cn } from "../utils/cn";
import GtmHead from "../components/GtmHead.astro";
import GtmBody from "../components/GtmBody.astro";
import Posthog from "../components/Posthog.astro";

const { title } = Astro.props;

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site,
).toString();

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>

    <SEO
      title={title}
      description="A savings app that's actually fun (and ADHD-friendly). Stop impulse spending. Ditch boring budgets. Make money click."
      canonical={canonicalURL}
      twitter={{
        site: "@rulemoneyuk",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Rule - Savings App Game`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Rule Homepage Screenshot",
        },
      }}
    />

    <ViralLoops />
    <GtmHead />
    <Posthog />
  </head>
  <body class="bg-forest-400">
    <GtmBody />
    <div
      class={cn([
        "fixed inset-0",
        "animate-diagonal-scroll-br bg-[url(/images/pattern.png)] opacity-25 bg-size-[auto_96px] bg-repeat sm:bg-size-[auto_128px]",
      ])}
    >
    </div>
    <div class="relative flex min-h-screen flex-col p-3 sm:p-6">
      <slot />
    </div>
  </body>
</html>
