---
import "../styles/global.css";
import "@fontsource-variable/quicksand";
import "@fontsource/barlow/400.css";
import "@fontsource/barlow/600.css";

import ViralLoops from "../components/ViralLoops.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>

    <ViralLoops />
  </head>
  <body class="bg-forest-500">
    <div
      class="animate-diagonal-scroll-br flex min-h-screen flex-col bg-[url(/images/pattern-green.png)] bg-size-[auto_96px] bg-repeat p-3 sm:bg-size-[auto_128px] sm:p-5"
    >
      <slot />
    </div>
  </body>
</html>
