---
import { SEO } from "astro-seo";
import "../styles/global.css";
import "@fontsource-variable/quicksand";
import "@fontsource/barlow/500.css";
import "@fontsource/barlow/600.css";

import GtmHead from "../components/GtmHead.astro";
import GtmBody from "../components/GtmBody.astro";
import Posthog from "../components/Posthog.astro";

const { title } = Astro.props;

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site,
).toString();

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>

    <SEO
      title={title}
      description="A game that helps you manage money, stop impulse buys, and break the cycle of shame. Get dopamine hits for saving, not spending."
      canonical={canonicalURL}
      twitter={{
        site: "@rulemoneyuk",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: title,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Rule Homepage Screenshot",
        },
      }}
    />

    <GtmHead />
    <Posthog />
  </head>
  <body>
    <GtmBody />

    <slot />
  </body>
</html>
